.aboutPage {
    background: linear-gradient(#0f3744, #021116);
    overflow-y: auto; /* pages have hidden overflow by default - override */
}

.about-content {
    width: 80%;
    max-width: 900px;
    min-width: 550px; /* maintain legibility of copy but break before 600px media queries */
}

.about-text p {
    background-color: white;
    font-size: 1.15em;
    line-height: 2em;
    text-align: center;
    color: #021116;
    padding: 35px;
    border-radius: 25px;
    font-weight: 400;
}

.outter-bubble {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative; /* bubbles have relative positioning for shadow bubbles absolute positioning */
}

.outter-bubble:before { /* askew background - outter speech bubbles */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #021116;
    left: 0;
    top: 0;
    border-radius: 25px;
    z-index: -1; /* make sure the shadows are behind (must be negative) */
    transform: rotate(-3deg);
    transition: transform 500ms;
}

.about-section-one,
.about-section-two {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about-section-one {
    margin-bottom: 75px;
    align-items: center;
}

.about-section-two {
    align-items: flex-end;
}


.about-p {
    width: 70%;
    position: relative; /* relative for speech arrow's absolute positioning */
}

.about-image {
    width: 22%;
}

.about-image img {
    width: 100%;
}

.about-section-one p:after { /* first speech bubble arrow */
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* center the speech arrow with help of top position */
    right: -40px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent; /* adjust the angle of the top of the speech bubble arrow */
    border-bottom: 20px solid transparent; /* adjust the angle of the bottom of the speech bubble arrow */
    border-left: 40px solid white; /* determines the width of the arrow */
    /* no right border necessary */
}

.about-section-one p:before { /* askew background - first speech bubble */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #021116;
    left: 0;
    top: 0;
    border-radius: 25px;
    z-index: -1; /* must be negative to keep it behind all other elements */
    transform: rotate(3deg);
    transition: transform 500ms;
}

.about-section-two p:after { /* second speech bubble arrow, view .about-section-one for details */
    content: '';
    position: absolute;
    bottom: 50px;
    left: -40px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 40px solid white;
}

.about-section-two p:before { /* askew background - second speech bubble */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #021116;
    left: 0;
    top: 0;
    border-radius: 25px;
    z-index: -1; /* must be negative */
    transform: rotate(-3deg);
    transition: transform 500ms;
}

.bubble-connector { /* div to make the speech bubbles connect, centered on the page */
    width: 10px;
    height: 40px;
    background-color: white;
    margin: auto;
}