.contactPage {
    background: linear-gradient(#8e7161, #755361);
    overflow-y: auto;
}

.contactContent {
    width: 100%;
    text-align: center;
}

.contactLogo {
    width: 17%;
    min-width: 200px;
    position: relative;
    left: 2%; /* visually center the logo */
    margin-bottom: 60px;
}

.contactEmail {
    margin-bottom: 60px;
    color: white;
    font-size: 20pt;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px black;
}

.contactLogoList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contactLogoList li {
    display: inline; /* change the list to horizontal layout */
    margin: 0 20px;
    cursor: pointer;
}

.contactLogoList img {
    width: 6%;
    min-width: 70px;
    transform: translateY(0);
    filter: grayscale(1);
    transition: all 200ms;
}

.contactLogoList img:hover {
    transform: translateY(-10px);
    filter: grayscale(0);
}