.contactPage {
    background: linear-gradient(#8e7161, #755361);
    overflow-y: auto;
}

.contactContent {
    width: 100%;
    text-align: center;
}

.contactLogo {
    width: 17%;
    min-width: 200px;
    position: relative;
    left: 2%; /* visually center the logo */
    margin-bottom: 70px;
}

.contactEmail {
    color: white;
    background-image: linear-gradient(transparent 50%, white 50%);
    background-size: 200%;
    background-position: top;
    width: 420px;
    font-size: 1.75em;
    padding: 10px;
    letter-spacing: 2px;
    margin: 0 auto 70px auto;
    position: relative;
    cursor: pointer;
}

@media only screen and (min-width: 768px) { /* avoid hover effects on mobile */
    
    .contactEmail:hover .top-border {
        width: 100%;
        border-width: 1px;
        transition: all 150ms;
    }
    .contactEmail:hover .right-border {
        height: 100%;
        border-width: 1px;
        transition: all 150ms;
        transition-delay: 150ms;
    }
    .contactEmail:hover .bottom-border {
        width: 100%;
        border-width: 1px;
        transition: all 150ms;
        transition-delay: 300ms;
    }
    .contactEmail:hover .left-border {
        height: 100%;
        border-width: 1px;
        transition: all 150ms;
        transition-delay: 450ms;
    }
    .contactEmail:hover {
        background-position: bottom;
        color: #666;
        transition: 150ms;
        transition-delay: 600ms;
    }
    .border {
        width: 0;
        height: 0;
        position: absolute;
    }
    .top-border {
        border-top: solid 1px white;
        top: 0;
        left: 0;
    }
    .right-border {
        border-right: solid 1px white;
        top: 0;
        right: 0;
    }
    .bottom-border {
        border-bottom: solid 1px white;
        bottom: 0;
        right: 0;
    }
    .left-border {
        border-left: solid 1px white;
        left: 0;
        bottom: 0;
    }
    
}

.contactLogoList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contactLogoList li {
    display: inline; /* change the list to horizontal layout */
    margin: 0 20px;
    cursor: pointer;
}

.contactLogoList img {
    width: 6%;
    min-width: 70px;
    transform: translateY(0);
    filter: grayscale(1);
    transition: all 200ms;
}

.contactLogoList img:hover {
    transform: translateY(-10px);
    filter: grayscale(0);
}