* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, white 65%, #00C7D9 65%);
    font-family: 'Saira', sans-serif;
}

.container {
    width: 100%;
}

@keyframes avatar-slide {
    0% {
        transform: scale(0.01);
    }
    15% {
        transform: scale(1) translateX(-50px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateX(500px);
    }
}

@keyframes avatar-roll {
    15% {
        transform: rotate(-20deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    font-family: 'sacramento';
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.avatar {
    width: 174px;
    height: 174px;
    border-radius: 100%;
    background-color: white;
    border: 16px solid #021116;
    margin: auto;
    margin-top: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 87px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation-name: avatar-slide;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.avatar img {
    width: 70%;
    animation-name: avatar-roll;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.letter {
    width: 1000px;
    background-color: white;
    border-left: 6px solid #00C7D9;
    margin: auto;
    padding: 150px;
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 200px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
    text-indent: 20px;
}

.signature {
    width: 100px;
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
    .letter {
        width: 700px;
        padding: 100px 75px;
    }
    
    @keyframes avatar-slide {
        0% {
            transform: scale(0.01);
        }
        15% {
            transform: scale(1) translateX(-50px);
            animation-timing-function: ease-in-out;
        }
        100% {
            transform: translateX(350px);
        }
    }
    
    .avatar {
        width: 125px;
        height: 125px;
        top: 62px;
        border-width: 10px;
    }

}

@media only screen and (max-width: 850px) {
    
    h1 {
        font-size: 1.75em;
        margin-bottom: 25px;
    }
    
    .letter {
        width: 500px;
    }
    
    @keyframes avatar-slide {
        0% {
            transform: scale(0.01);
        }
        15% {
            transform: scale(1) translateX(-50px);
            animation-timing-function: ease-in-out;
        }
        100% {
            transform: translateX(250px);
        }
    }
    
    .avatar {
        width: 125px;
        height: 125px;
        top: 62px;
        border-width: 10px;
    }

}

@media only screen and (max-width: 600px) {
    
    h1 {
        font-size: 1.5em;
    }
    
    .letter {
        width: 75%;
        min-width: 300px;
        padding: 100px 30px;
        line-height: 1.75;
    }
    
    @keyframes avatar-slide {
        0% {
            transform: scale(0.01);
        }
        15% {
            transform: scale(1) translateX(0);
            animation-timing-function: ease-in-out;
        }
        100% {
            transform: translateX(0);
        }
    }
    
    .avatar {
        width: 125px;
        height: 125px;
        top: 62px;
        border-width: 10px;
    }

}