.frontPage {
    width: 50%;
    height: 100%;
    background: linear-gradient(#367e96, #1d4f89);
    position: absolute;
    overflow-y: auto; /* just in case the screen height drops too low on smaller mobile devices */
}

.frontContent {
    position: relative;
    bottom: 2%; /* adjusted to visually center the content - due to shadow on the main logo and transparant space in the source image */
}

.pixelLogo {
    width: 70%; /* smaller than the speech bubble... */
    min-width: 150px; /* ...but not too small */
    margin: auto;
    margin-bottom: 20px;
}

.pixelLogo:hover {
    animation-name: logoSpin;
    animation-duration: 650ms;
    animation-iteration-count: 1;
}

.pixelLogo img {
    width: 100%;
}

.speechBubble {
    text-align: center;
    position: relative; /* bubble arrow needs relative absolute positioning */
    font-size: 1.35em;
    line-height: 1.5em;
    color: #366289;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.speechBubble:before { /* speech bubble arrow - create a triangle using a mix of visible and invisible borders */
    content: '';
    position: absolute;
    top: -30px;
    left: 55%; /* off center to line up with pixel logo mouth */
    transform: translateX(-50%);
    /* center the speech arrow */
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 30px solid white;
    border-top: 0;
}
