.navBar {
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: all 600ms;
}

.navBarLeft { /* addClass for the navigation animation */
    width: 25%; 
    left: 0;
}

.navBarRight { /* addClass for the navigation animation */
    left: 75%;
    width: 25%;
}

.navBarFront { /* navigation style for front page */
    left: 50%;
    width: 50%;
}

.navList {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 3px;
    color: #666666;
}

.navListLink {
    box-shadow: 0 2px 5px rgba(0,0,0,0.35);
    margin: 25px 0;
    padding: 10px 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 150ms;
    position: relative; /* 0 out position for hover transition */
    bottom: 0;
}

.navListLink:hover {
    bottom: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.35);
    transform: scale(1.005);
    /* combination gives a raised effect */
}

.navLinkActive {
    color: white;
    border: 0;
    pointer-events: none; /* blocks the navigation link when the associated page is active */
    box-shadow: 0 0 0 black; /* 0 out the shadow */
}

.aboutLinkActive {
    background-color: #021116;
}

.skillsLinkActive {
    background-color: #be2a2e;
}

.portfolioLinkActive {
    background-color: #2e3192;
}

.contactLinkActive {
    background-color: #8e7161;
}