.nav-bar {
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: all 600ms;
}

.navBarLeft { /* addClass for the navigation animation */
    width: 25%; 
    left: 0;
}

.navBarRight { /* addClass for the navigation animation */
    left: 75%;
    width: 25%;
}

.nav-bar-front { /* navigation style for front page */
    left: 50%;
    width: 50%;
}

.nav-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 3px;
    color: #666666;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    /*
    
    IE doesn't handle transitions based off LEFT so when using IE I'm using transform: translateX instead
    
    The draw back here, and why I don't just use this for other browsers as well is that off the first transition from nav-bar-front to navBarLeft, using translate leaves a gap in the animation of the two panels uncovering the underlying site that should be hidden. Using left instead of translateX fixes this problem, but unfortunately isn't compatible with IE 
    
    */
    
    .nav-bar-front {
        transform: translateX(100%);
        left: 0;
        width: 50%;
}    
    .navBarRight {
        left: 0;
        transform: translateX(300%);
    }
}

.nav-list-link {
    box-shadow: 0 2px 5px rgba(0,0,0,0.35);
    margin: 25px 0;
    padding: 10px 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 150ms;
    position: relative; /* 0 out position for hover transition */
    bottom: 0;
}

.nav-list-link:hover {
    bottom: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.35);
    transform: scale(1.005);
    /* combination gives a raised effect */
}

.navLinkActive {
    color: white;
    border: 0;
    pointer-events: none; /* blocks the navigation link when the associated page is active */
    box-shadow: 0 0 0 black; /* 0 out the shadow */
}

.about-link-active {
    background-color: #021116;
}

.skills-link-active {
    background-color: #be2a2e;
}

.portfolio-link-active {
    background-color: #2e3192;
}

.contact-link-active {
    background-color: #8e7161;
}