.skillsPage {
    background: linear-gradient(#be2a2e, #9e2750);
    overflow-y: auto;
    overflow-x: hidden; /* hide elements off screen like the bottom skill descriptions */
    font-family: 'Share Tech Mono', monospace;
}

.skills-content {
    min-height: 1200px; /* avoid page jumping when skill paragraphs change page heights */
}

.skill-list ul {
    list-style: none;
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.skill-item {
    display: inline-block;
    margin: 0;
    padding: 5px 20px;
    background: linear-gradient(transparent 50%, white 50%); /* half transparent background, half white so that when the active class is added the background appears to slide up */
    background-size: 200%;
    background-position: top;
    transition: all 250ms;
    cursor: pointer;
}

.skill-link-active {
    background-position: bottom; /* the slide up effect */
    color: #be2a2e;
    pointer-events: none; /* remove the ability to click the skill and trigger the animations if they are already active on the page */
}

.skillsPage li:nth-child(even) { /* add a division border between list items */
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.skill-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.left-arrow, .right-arrow { /* making arrows out of borders */
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    cursor: pointer;
    transition: all 250ms;
}

.left-arrow {
    border-right: 85px solid rgba(255,255,255,0.5);
}

.left-arrow:hover {
    border-right-color: white;
    transform: scaleY(1.25) scaleX(0.75) translateX(20px);
}

.left-arrow:active {
    transform: scaleY(1) scaleX(1);
}

.right-arrow {
    border-left: 85px solid rgba(255,255,255,0.5);
}

.right-arrow:hover {
    border-left-color: white;
    transform: scaleY(1.25) scaleX(0.75) translateX(-20px);
}

.right-arrow:active {
    transform: scaleY(1) scaleX(1);
}

.skill-box {
    width: 50%;
    height: 350px;
    position: relative;
    margin: 0 40px;
}

@keyframes skill-flip { /* make the box appear to spin around */
    0% {transform: scaleX(1) skewX(0);}
    50% {transform: scaleX(0) skewX(45deg);}
    100% {transform: scaleX(1) skewX(0);}
}

.skill-flip { /* add class for when a skill link is clicked */
    animation-name: skill-flip;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.680, 0, 0.265, 1.550); /* give the animation elacticity */
}

.skill-container {
    position: absolute; /* stack all the skill divs on top of eachother */
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0; /* make all of them invisible */
    justify-content: center;
    align-items: center;
}

.skill-row { /* give a left to right layout */
    flex-direction: row;
    z-index: 2;
    opacity: 1; /* make the selected skill visible */
}

.skill-row-reverse { /* give a right to left layout */
    flex-direction: row-reverse;
    z-index: 2;
    opacity: 1; /* make the selected skill visible */
}

.skill-text {
    width: 60%;
    height: 80%; /* make this section slightly smaller than the section next to it */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-text h3 {
    font-size: 1.75em;
}

.skill-text p {
    font-size: 1.3em;
    margin-left: 20px; /* replicate code indent formatting */
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-text span { /* make the text associated with the skill stand out */
    color: #be2a2e;
}

.skill-text img { /* for the images that replace the text on the illustrator and photoshop skills */
    max-width: 80%; 
    max-height: 80%;
}

.skill-pic {
    width: 40%;
    height: 90%; /* make the container slightly larger than the div next to it but leave room for images to spill out */
    background-color: #021116;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-pic img {
    max-height: 130%; /* spill images out */
    max-width: 100%;
}

.skill-descriptions {
    width: 60%;
    margin: auto; /* center the paragraphs */
    margin-top: 75px;    
}

.skill-paragraph {
    color: white;
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 30px auto;
    opacity: 0; /* make them all invisible */
    position: relative;
    display: none; /* remove all the paragraphs from the page so only the active paragraph effects page height */
    text-shadow: 1px 1px 3px black;
}

@keyframes skill-text-flip { /* slide and fade in from the left*/
    50% {
        opacity: 0;
        right: 50%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

.visible-skill-description {
    display: block; /* bring selected paragraph back from zero display */
    animation-name: skill-text-flip; /* apply the fade and slide in animation */
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /* freeze at the last frame of the animation */
}