footer {
	width: 100%;
	margin-bottom: 0;
	padding: 8px 0;
	background-color: #ddd;
	text-align: center;
	color: black;
	font-size: 12px;
	overflow-x: hidden;
	font-weight: 300;
}

@media only screen and (max-width: 500px) {
	footer {
		font-size: 10px;
	}
}