* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #4c4c4c;
}

.logo {
  width: 45%;
  height: auto;
}

.logo img {
  width: 100%;
  vertical-align: bottom;
}

.menu ul {
  list-style: none;
  text-align: right;
  border-top: 1px solid #4c4c4c;
  padding-right: 10px;
  padding-left: 10px;
}

.menu li {
  display: inline-block;
  padding: 20px 10px;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  font-size: 1.4em;
  color: #4c4c4c;
  text-transform: uppercase;
  cursor: pointer;
}

.menu li:hover {
  border-bottom: 4px solid #4d9eea;
}

#current {
  font-weight: bold;
  letter-spacing: 0.15em;
}

@media only screen and (max-width: 1000px) {

    header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0;
      margin-bottom: 0;
    }

    .logo {
        width: 90%;
        margin: 0 auto;
    }

    .menu {
      width: 100%;
      padding: 10px 0;
    }

    .menu ul {
      text-align: center;
      border: 0;
      padding: 0;
    }

    .menu li {
      font-size: 20px;
      margin: 0 15px;
      padding: 5px 5px;
      color: black;
      border: 0;
    }

    .menu li:hover {
      color: #4d9eea;
      border: 0;
    }
}

@media only screen and (max-width: 600px) {
  .menu li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .menu li {
    display: list-item;
    font-size: 25px;
  }

}