:root {
  --red: #c74057;
  --blue: #33333e;
  --shadow: rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* content display box */

@keyframes slideUp {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* header */

.header {
  background-color: var(--red);
  width: 100%;
  height: 400px;
  position: fixed;
  top: 0;
  z-index: 99;
  padding-top: 43px;
  transition: all 250ms;
}

.faceLogo {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 43px;
  background-color: white;
  border: 5px solid var(--blue);
  border-radius: 40px;
  box-shadow: 0 0 0 2px white;
  display: flex;
  justify-content: center;
  transition: all 250ms;
}

.faceLogo img {
  width: 70%;
}

.headerLinks {
  list-style: none;
  text-align: center;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 100;
  transition: all 250ms;
}

.headerLinks li {
  display: inline;
  padding: 0 20px;
  border-right: 1px solid white;
}

.headerLinks li:last-child {
  border: none;
}

.blogDescription {
  width: 425px;
  max-width: 90%;
  padding: 0 40px;
  height: 170px;
  margin: auto;
  background-color: var(--blue);
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 0 0 3px var(--blue);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogDescription img {
  width: 75px;
  margin-right: 20px;
}

.blogDescription p {
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  line-height: 24px;
}

/* scrolled header style */

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.scrolledHeader {
  height: 100px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolledHeader .faceLogo {
  width: 65px;
  height: 65px;
  border-width: 3px;
  border-radius: 20px;
  margin: 0;
}

.scrolledHeader .headerLinks {
  text-align: right;
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  animation: appear 250ms 1 forwards;
}

.scrolledHeader .blogDescription {
  height: 100px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  left: 0;
  top: 0;
  transform: none;
  animation: appear 250ms 1 forwards;
}

.scrolledHeader .blogDescription img {
  width: 50px;
}

.scrolledHeader .blogDescription p {
  font-size: 14px;
  text-align: left;
  line-height: 21px;
}

/* blog style */

.blogList {
  width: 700px;
  margin: auto;
  margin-top: 600px;
}

.blogPost {
  margin-bottom: 100px;
  cursor: pointer;
}

.blogDate {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--blue);
  margin-bottom: 30px;
}

.blogItem {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--shadow);
  display: flex;
}

.blogItem:last-child {
  margin-bottom: 200px;
}

.blogThumb {
  width: 32.5%;
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
}

.thumb001 {
  background-image: url("../images/blogThumbs/dailyui001thumb.png");
}

.thumb002 {
  background-image: url("../images/blogThumbs/dailyui002.png");
}

.thumb003 {
  background-image: url("../images/blogThumbs/dailyui003.png");
  background-position: left;
}

.thumb004 {
  background-image: url("../images/blogThumbs/dailyui004.png");
}

.thumb005 {
  background-image: url("../images/blogThumbs/dailyui005.jpg");
  background-position: left;
}

.thumb006 {
  background-image: url("../images/blogThumbs/dailyui006.png");
}

.thumb007 {
  background-image: url("../images/blogThumbs/dailyui007.png");
}

.thumb008 {
  background-image: url("../images/blogThumbs/dailyui008.png");
  background-position: 75%;
}

.thumb009 {
  background-image: url("../images/blogThumbs/dailyui009.png");
  background-position: 90%;
}

.thumb010 {
  background-image: url("../images/blogThumbs/dailyui010.png");
  background-position: 85%;
}

.thumb011 {
  background-image: url("../images/blogThumbs/dailyui011.jpg");
  background-position: left;
}

.thumb012 {
  background-image: url("../images/blogThumbs/dailyui012.jpg");
  background-position: right;
}

.thumb013 {
  background-image: url("../images/blogThumbs/dailyui013.jpg");
}

.thumb014 {
  background-image: url("../images/blogThumbs/dailyui014.png");
}

.blogCopy {
  width: 67.5%;
  padding: 30px 60px;
  color: var(--blue);
  border-radius: 0 20px 20px 0;
}

.blogCopy h1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.blogCopy p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5em;
}

.blogCopy p:last-child {
  margin-bottom: 0;
}

.challenge {
  opacity: 0.75;
}

.expandedImage {
  width: 100%;
  border-radius: 20px;
  height: auto;
  box-shadow: 0 10px 20px var(--shadow);
  display: none;
}

.expandedImage img {
  max-width: 100%;
  margin: auto;
  border-radius: 20px;
  display: block;
}

@media screen and (max-width: 800px) {

  .header {
    height: 300px;
    padding-top: 37px;
  }
  .faceLogo {
    width: 100px;
    height: 100px;
    margin-bottom: 37px;
    border: 3px solid var(--blue);
    border-radius: 30px;
    box-shadow: 0 0 0 1px white;
  }
  .headerLinks {
    font-size: 15px;
    letter-spacing: 0;
  }
  .headerLinks li {
    padding: 0 10px;
  }
  .blogDescription {
    height: 125px;
    border-radius: 30px;
  }
  .blogDescription img {
    width: 50px;
    margin-right: 20px;
  }
  .blogDescription p {
    color: white;
    font-size: 12px;
    font-weight: 100;
    line-height: 24px;
  }
  .scrolledHeader {
    height: 80px;
    padding-top: 0;
  }
  .scrolledHeader .faceLogo {
    display: none;
  }
  .scrolledHeader .headerLinks {
    text-align: center;
    font-size: 16px;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
  }
  .scrolledHeader .blogDescription {
    display: none;
  }
  .blogList {
    width: 100%;
    margin-top: 450px;
    border-radius: 0;
  }
  .blogPost {
    margin-bottom: 50px;
  }
  .blogDate {
    margin-right: 20px;
  }
  .blogItem {
    border-radius: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
  .blogThumb {
    height: 150px;
    width: 100%;
    border-radius: 0;
    background-position: center;
  }
  .blogCopy {
    width: 100%;
    padding: 24px 12px;
  }
  .blogItem:last-child {
    margin-bottom: 100px;
  }
  .expandedImage img {
    border-radius: 0;
  }
}
